body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
    margin: 0;
}

.container {
    width: 80%;
    margin: 2rem auto;
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* Añadido para centrar el contenido en el contenedor */
}

h1 {
    color: #446688;
    text-align: center;
}

.section {
    margin-bottom: 2rem;
}

.question {
    display: flex;
    justify-content: space-between;
    background-color: #f9f9f9;
    padding: 1rem;
    border-radius: 8px;
}

.options {
    display: flex;
    gap: 1rem;
}

label {
    display: flex;
    align-items: center;
}

input[type="radio"] {
    margin-right: 0.5rem;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
.question2 {
    display: flex;
    flex-direction: column; /* Añadido para alinear verticalmente los elementos */
    align-items: center; /* Añadido para centrar horizontalmente los elementos */
    background-color: #f9f9f9;
    padding: 1rem;
    border-radius: 8px;
}